@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');


*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.container{
    max-width: 1080px;
    margin: auto;
    display: flex;
    top: auto;
}

header{
    background-color:rgb(255, 255, 255);
    width: 100%;
    padding: 10px;

}

.menu
{
    width: 70%;
}

.menu  a
{
    color: rgb(4, 4, 4);
    text-decoration: none;
    padding-right: 10px;
    font-size: 20px;


}


.wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background:rgba(117, 128, 130, 0.94);

    
    /*fundo*/
    transition: all 0.5s ease-in-out;
}
  
#active:checked ~ .wrapper{
   
    right:0;
}

.menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    
    transition: all 0.3s ease-in-out;
}

  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
      content: "";
      position: absolute;
      top:2% calc(50% - 1px);
      left: 30%;
      width: 40%;
      border-bottom: 2px solid rgb(85, 22, 232);
      transition: transform .5s cubic-bezier(0.215, 0.61, 0.355, 1);
      
     }

  .menu-btn::after{
    transform: translateY(-8px);
  }
  .menu-btn::before{
    transform: translateY(8px);
  }
  
  
  .close {
      z-index: 1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: background .5s;
  }
  
  
  #active:checked + .menu-btn span {
      transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
      transform: rotate(45deg);
    border-color :rgb(85, 22, 232);
  }
  #active:checked + .menu-btn:after {
      transform: rotate(-45deg);
    border-color: rgb(85, 22, 232);
  }

 
  .wrapper ul
  {
    position: absolute;
    top: 10cm;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    height: 10%;
    margin: 15px 0;
  }
  .wrapper ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 0px auto;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #1680eb;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;

  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  #active:checked ~ .wrapper ul li a{
    opacity: 1;
  }
  .wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }
  #active:checked ~ .wrapper ul li a{
      transform: none;
      transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); 
     transition-delay: .6s;
    transform: translateX(-100px);

  }

#Login
{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 2%;
    width:70px;
    border-radius: 10px;
   padding: 0;
  box-shadow: 2px 2px 2px 2px  #4b06ec;
  box-sizing: border-box;
  color: rgb(13, 14, 13);

} 

.pesquisar{
    top: 2%;
    left: 30%;
position:relative;
transform: translate(-5% , -30%);
color: rgb(85, 22, 232);
height: 40px;
border-radius: 40px;
padding: 10px;
font-size: 20px;

}



.pesquisar:hover > .Buscar
{
width: 240px;
padding: 0.5px;

}
.botao{
    color: rgb(216, 8, 8);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Buscar{ 
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(9, 108, 238);
    font-size: 15px;
    transition: 0.5s;
    line-height: 40px;
    width: 0px;
}


